.top {
    top: 0%;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#button {
    align-items: 'flex-end';
    left: 1775px;
    transform: scale(1.75);
}

.drawer {
    width: 500px;
    flex-shrink: 0;
}