.top {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


.drawer {
    width: 500px;
    flex-shrink: 0;
}

#homePage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
}

#title {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}