.center {
  position: fixed;
  top: 7%;
  left: 0;
  width: 97.5vw;
  height: 87.5vh;
}

#nav {
  width: 10vw;
  height: 100vh;
}

#searchTool {
  width: 400px;
}

#addTool {
  width: 250px;
}

#deleteTool {
  width: 250px;
}

#modifyTool {
  width: 250px;
}

#settingsButton {
  width: 50px;
}